.registration {
    margin-top: 30px;
  }
  
  .registration-heading {
    color: #c2a47b;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .registration-input {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 2px solid #c2a47b;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .registration-input:focus {
    outline: none;
    border-color: #decaaf;
}

@media screen and (max-width: 768px) {
    .registration-input {
      width: 100%;
    }
  }